frontend kubernetes
bind 10.10.40.93:6443
option tcplog
mode tcp
default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
mode tcp
balance roundrobin
option tcp-check

server k8s-master-0 192.168.1.115:6443 check fall 3 rise 2
server k8s-master-1 192.168.1.167:6443 check fall 3 rise 2
server k8s-master-2 192.168.1.37:6443 check fall 3 rise 2
